
html{
    scroll-behavior: smooth;
    
}

body{
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    height: 100vh;
    gap: 3rem;
    letter-spacing: -20px;
}

.navigations{
    display: flex;
    flex-direction: column;
    
}

.navigation{
    font-family: "Lexend Zetta", sans-serif;
    text-align: center;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, rgb(255, 122.4, 0) 0%, rgb(145.56, 52.4, 0) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    cursor: pointer;

    transition: margin-left 0.5s ease-in;
}


.onHover{
    
}
.myPic{
    height: 100%
}
.myPic img{
    height: 100%;
    border-radius: 1434px;
}

.navigation:hover{
    position: relative;
}

.navigation:hover a{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }



.navigation a {
    text-decoration: none;
}
  
.navigation:hover{
    margin-left: 20px;
    background: linear-gradient(180deg, rgb(0, 209.1, 255) 0%, rgb(0, 52.66, 188.06) 100.01%);
}

#first:hover:before {
    content: "About";
}
#second:hover:before {
    content: "Work";
}
#third:hover:before {
    content: "Contact";
}

#about{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.pageHeader{
    font-family: "Lexend Zetta", sans-serif;
    text-align: center;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, rgb(255, 122.4, 0) 0%, rgb(145.56, 52.4, 0) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    letter-spacing: -15px;
    margin-bottom: 1rem;

}

.aboutText{
    width: 40%;
    margin: auto;
    text-align: start;


    
}

.aboutText p{
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    font-size: 1.5rem;
}

/*//////////////////////////////////////////////////////////*/


.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: -moz-fit-content;
    width: fit-content;
    gap: 0.5rem;
    /*min-width: 20%;*/
    max-width: 60%;
    margin: auto;

    border-radius: 16px;
}

.tampon-area{
    height: 0.5rem;
}
.card{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: inherit;
    box-shadow: #1E1E1E;
    width: 100%;
    transition: background-color 0.4s linear;
    cursor: pointer;
    background-color: #ca7300;
    border:#000000 solid 2px;
}



.cardBasic{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: inherit;
    box-shadow: #1E1E1E;
    width: 100%;
    transition: 0.4s linear;
    cursor: pointer;
}
.jobTitle{
    font-family: "Lexend Zetta", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
    text-wrap: wrap;

}

.tx{
    margin: 0.33rem;
}
.jobCompany{
    color: #000000;
    text-align: center;
    font-family: "Gayathri", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0%;
}

.jobYear{
    color: #000000;
    text-align: center;
    font-family: "Gayathri", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
}

.cardDetails{
    display: none;
    transition: display 0.2s ease-in-out;
    /*background-color: #000000b6;
    text-align: left;
    margin: auto;
    padding-top: 2rem;
    border-radius: inherit;*/
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.detailText{
    color: #ca7300;
    font-family: "Gayathri", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
}

.detailList{
    color: #ca7300;
    font-family: "Gayathri", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

li{
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.listItemIcon{
    height: 1.5rem;
    width: 1.5rem;
    
}

.card:hover{
    background-color: #0096db;

}
.card:hover .cardDetails{
    display: flex !important;
    justify-content: center;
    align-items: center;

    background: #000000;
    text-align: left;
    margin: auto;
    width: 80%;
    padding-top: 2rem;
    border-radius: inherit;
} 

.card:hover .cardBasic .jobTitle{
        font-size: 2rem;
}
.card:hover .cardBasic .jobCompany{
        font-size: 2rem;
}
.card:hover .cardBasic .jobYear{
        font-size: 2rem;
}

/********************************************/

.contact-flex{
    border-radius: 129px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 40%;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 1rem;
    height: 20vh;
}

.linkFrame{
    color: #000000;
    font-family: "Gayathri", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.text-box a{
    text-decoration: none;
    color:#ca7300;
    font-family: "Gayathri", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.icon-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

footer{
    margin-top: 3rem;
    color: #FFF;
    font-size: 1rem;
    text-align: center;
}

@media only screen and ( max-width:1200px   ){

    .pageHeader{
        font-size: 3rem;
    }

    #home{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .myPic{
        width: -moz-fit-content;
        width: fit-content;
        height: 50%;    
        margin: auto;
    }
    .navigations{
        min-width:50% ;
    }
    .navigation {
        margin: 1rem;
        font-size: 4rem;
        letter-spacing: normal;
    }

}

@media only screen and ( max-width:1300px   ){
    .contact-flex{
       padding: 2rem;
    }

    .card{
        flex-direction: column;
        gap: 2rem;
        
    }

    .aboutText{
        width: 75%;
    }


}

@media only screen and ( max-width:650px   ){
    /*pic ayarı*/
    .myPic img{
        width: 90%;
        height: 100%;
    }

    .contact-flex{
        width: 90%;
        flex-direction: column;
        border-radius: 10px;
        text-wrap: nowrap;
        padding: 3rem;
    }
    .linkFrame {
        font-size: 1rem !important;
    }



}

@media only screen and ( max-width:450px){
    .card:hover .cardBasic .jobTitle{
        font-size: 1rem;
    }
    .card:hover .cardBasic .jobCompany{
            font-size: 1rem;
    }
    .card:hover .cardBasic .jobYear{
            font-size: 1rem;
    }

    .detailList li{
        font-size: 0.8rem;
        width: 100%;
        text-wrap: wrap;
    }
    
    .detailText{
        color: #ca7300;
        font-family: "Gayathri", sans-serif;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 75%;
        margin: auto;
        margin-bottom: 2rem;
    }


}

@media only screen and ( max-width:750px){
    .detailList li{
        font-size: 1rem;
        width: 100%;
        text-wrap: wrap;
    }
}

@media only screen and ( max-width:1050px   ){
        .contact-flex{
            width: 60%;
        }
}